.header-container {
    width: 100%;
    height: 5rem;
    background-color: #586F7C;
    color: #fff;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

.header-home-button {
    position: fixed;
}

.header-title {
    margin: auto;
}