.main-page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #E1F2FE;
}
.main-page-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
